</main>

<script src="vendor/jquery/js/jquery.min.js"></script>
<script src="js/script.js"></script>

@@if(context.js){
  @@for (var i = 0; i < js.length; i++) {
    <script src="`+js[i]+`"></script>
  }
}

</body>

</html>