<div class="container">
  <div class="row zeppelin_menu">
    <div class="col-md-6">
      <div class="title" id="zeppelin_menuAppetizers">Appetizers</div>
      <div class="content" id="showzeppelin_menuAppetizers">
        <div class="zeppelin_menu_item">
          <div class="row">
            <div class="col name"><span>Drunken Flying Pig</span></div>
            <div class="col-auto price">$18.00</div>
          </div>
          <div class="row text">
            <div class="col-12">
              <p>Smoked pork chop, roasted heirloom potatoes, pear-bourbon glaze.</p>
            </div>
          </div>
        </div>
        <div class="zeppelin_menu_item">
          <div class="row">
            <div class="col name"><span>Hartsfield-Jackson (Favorite)</span></div>
            <div class="col-auto price">$14.00</div>
          </div>
          <div class="row text">
            <div class="col-12">
              <p>Fried chicken breast, apple and celery slaw, maple honey, waffle.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="title" id="zeppelin_menuBurgers">Burgers</div>
      <div class="content" id="showzeppelin_menuBurgers">
        <div class="zeppelin_menu_item">
          <div class="row">
            <div class="col name"><span>Italian Parma Rosa</span></div>
            <div class="col-auto price">$15.00</div>
          </div>
          <div class="row text">
            <div class="col-12">
              <p>Cavatappi pasta, Italian sausage, baby heirloom tomatoes, parmesan cheese, Parma Rosa sauce, fried
                basil.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="title" id="zeppelin_menuDesserts">Desserts</div>
      <div class="content" id="showzeppelin_menuDesserts">
        <div class="zeppelin_menu_item">
          <div class="row">
            <div class="col name"><span>New Orleans Pasta</span></div>
            <div class="col-auto price">$15.00</div>
          </div>
          <div class="row text">
            <div class="col-12">
              <p>Linguine pasta, andouille sausage, shrimp, scallions, bell peppers, Cajun alfredo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="title" id="zeppelin_menuDrinks">Drinks</div>
      <div class="content" id="showzeppelin_menuDrinks">
        <div class="zeppelin_menu_item">
          <div class="row">
            <div class="col name"><span>Spirit of St Louis Ribs</span></div>
            <div class="col-auto price">$16.00</div>
          </div>
          <div class="row text">
            <div class="col-12">
              <p>Half rack of smoked ribs, our Hangar Kickin’ Honey Bourbon, roasted heirloom potatoes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>