<section class="vc_section">
  <div class="container ">
    <div class="vc_row wpb_row vc_row-fluid row align-items-center">
      <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element tp-zeppelin-img__text">
              <div class="wpb_wrapper">
                <h3>Dining with us</h3>
                <p>Zeppelin’s at Hangar 38 is a premier full-service restaurant and sports bar. Guests will enjoy Chef
                  crafted cuisine whether they are relaxing in our 190-seat deluxe restaurant or grabbing a bite at our
                  state-of-the-art boutique bowling lanes. Diners can delight their taste buds with choices ranging from
                  our Zepp’s and wings tossed in Zeppelin’s signature sauces, to our Shepard’s Pie egg rolls, and unique
                  specialty pizzas. Our top-notch full-service bar offers aviation inspired cocktails and 16 draught
                  beers. It is our mission at Zeppelin’s and Hangar 38 to give every guest an amazing dining
                  experience!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div class="wpb_single_image wpb_content_element vc_align_left tp-zeppelin-img__img">

              <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                  <img src="http://test8.seo-garant.com/wp-content/uploads/2019/04/63227573-retro-waitress-takes-the-order-writes-down-meals-pop-art-retro-vector-illustration.png"
                        class="vc_single_image-img attachment-full" alt=""
                        srcset="http://test8.seo-garant.com/wp-content/uploads/2019/04/63227573-retro-waitress-takes-the-order-writes-down-meals-pop-art-retro-vector-illustration.png 866w, http://test8.seo-garant.com/wp-content/uploads/2019/04/63227573-retro-waitress-takes-the-order-writes-down-meals-pop-art-retro-vector-illustration-200x300.png 200w, http://test8.seo-garant.com/wp-content/uploads/2019/04/63227573-retro-waitress-takes-the-order-writes-down-meals-pop-art-retro-vector-illustration-768x1153.png 768w, http://test8.seo-garant.com/wp-content/uploads/2019/04/63227573-retro-waitress-takes-the-order-writes-down-meals-pop-art-retro-vector-illustration-682x1024.png 682w"
                        sizes="(max-width: 866px) 100vw, 866px" width="866" height="1300"></div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>