<footer class="site-footer d-flex flex-column justify-content-end">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <div class="site-footer__logo d-flex justify-content-center">
          <img src="img/hangar-logo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer__bottom mt-80">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <ul class="site-footer__menu f-size-lg-24 f-size-18 l-height-170">
            <li><a href="#">Bowling</a></li>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">zeppelin’s</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="site-footer__hr">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="site-footer__description f-size-md-20 f-size-16 color-brown-light">Hangar 38 | 6668 Thomasville Rd. | Tallahassee FL | thehangar38.com | Hangar 38 All Rights Reserved 2019</div>
        </div>
      </div>
    </div>
  </div>
</footer>