<div class="container pt-50">
  <div class="vc_row wpb_row vc_row-fluid row">
    <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_single_image wpb_content_element vc_align_left">

            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                      src="http://test8.seo-garant.com/wp-content/uploads/2019/04/shoes.jpg"
                      class="vc_single_image-img attachment-full" alt=""
                      srcset="http://test8.seo-garant.com/wp-content/uploads/2019/04/shoes.jpg 840w, http://test8.seo-garant.com/wp-content/uploads/2019/04/shoes-300x155.jpg 300w, http://test8.seo-garant.com/wp-content/uploads/2019/04/shoes-768x396.jpg 768w"
                      sizes="(max-width: 840px) 100vw, 840px" width="840" height="433"></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h3>Shoe &amp; Socks Rental</h3>

            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid row">
            <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_left">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                              src="http://test8.seo-garant.com/wp-content/uploads/2019/04/icon_shoe.svg"
                              class="vc_single_image-img attachment-full" alt=""></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p>$4.00 all day everyday</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid row">
            <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_left">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                              src="http://test8.seo-garant.com/wp-content/uploads/2019/04/icon_socks.svg"
                              class="vc_single_image-img attachment-full" alt=""></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 col-lg-6">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p>$3.50 yours to keep</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>