@import "variables";

@font-face {
	font-family: 'GearedSlab';
	src: url('../fonts/GearedSlab-Light.eot');
	src: local('../fontsHelveticaNeueCyr-Medium'),
	url('../fonts/GearedSlab-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GearedSlab-Thin.woff') format('woff'),
	url('../fonts/GearedSlab-Thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GearedSlab';
	src: url('../fonts/GearedSlab.eot');
	src: local('../fontsHelveticaNeueCyr-Medium'),
	url('../fonts/GearedSlab.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GearedSlab-Regular.woff') format('woff'),
	url('../fonts/GearedSlab-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GearedSlab';
	src: url('../fonts/GearedSlab-Extrabold.eot');
	src: local('../fontsHelveticaNeueCyr-Heavy'),
	url('../fonts/GearedSlab-Extrabold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GearedSlab-Extrabold.woff') format('woff'),
	url('../fonts/GearedSlab-Extrabold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GearedSlab';
	src: url('../fonts/GearedSlab-Bold.eot');
	src: local('../fontsHelveticaNeueCyr-HeavyItalic'),
	url('../fonts/GearedSlab-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GearedSlab-Bold.woff') format('woff'),
	url('../fonts/GearedSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Pompadour';
	src: url('../fonts/Pompadour.eot');
	src: local('../fontsHelveticaNeueCyr-Black'),
	url('../fonts/Pompadour.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Pompadour-Black.woff') format('woff'),
	url('../fonts/Pompadour-Black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

.f-family-geared-slab {
	font-family: $font-family-geared-slab;
}

.f-family-pompadour {
	font-family: $font-family-pompadour;
}