//
// text color
//
.color-brand-primary {
	color: $brand-primary;
}

.color-brand-yellow {
	color: $brand-yellow;
}

.color-brand-red {
	color: $brand-red;
}

.color-brand-grey {
	color: $brand-grey;
}

.color-brown-dark {
	color: $brown-dark;
}

.color-brown-light {
	color: $brown-light;
}

//
// background color
//
.bg-brand-primary {
	background-color: $brand-primary;
}

.bg-brand-yellow {
	background-color: $brand-yellow;
}

.bg-brand-red {
	background-color: $brand-red;
}

.bg-brand-grey {
	background-color: $brand-grey;
}

.bg-brown-dark {
	background-color: $brown-dark;
}

.bg-brown-light {
	background-color: $brown-light;
}

.bg-brown-extra-light {
	background-color: $brown-extra-light;
}

.bg-grey100 {
	background-color: $grey100;
}

.bg-grey100 {
	background-color: $grey100;
}

.bg-grey60 {
	background-color: $grey60;
}

.bg-grey40 {
	background-color: $grey40;
}

.bg-grey10 {
	background-color: $grey10;
}

.bg-grey5 {
	background-color: $grey5;
}

.bg-white {
	background-color: $white;
}