@import "mixins/functions";
@import "mixins/mixins";

$prefix: 'prk-';

$grid-breakpoints: (
				xs: 0,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1200px
);


// Base custom typography style set
//
// Font, letter spacing, font size
$font-family-geared-slab: 'GearedSlab';
$font-family-pompadour: 'Pompadour';

$letter-spacing: (5, 10, 20, 30, 50, 100, 200, 500);

$font-size-from: 10; 		// Sets the font size set from
$font-size-to: 17; 			// Sets the font size set to
$font-size-array: (18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80); // Sets individual font size set

$line-height: false;
$line-height-from: 10; 	// Sets the line height set from
$line-height-to: 17; 		// Sets the line height set to
$line-height-array: (18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80); // Sets individual line height set


// Spacers
$spacers: (0, 5, 10, 15, 20, 25, 30, 35, 40, 50, 60, 70, 80, 90, 100);


// Base typography style
$base-font-size: 16px; // Sets the base font size
$base-line-height: 1.5; // Sets the base line height
$base-font-family: $font-family-geared-slab; // Sets the base font family

$h1-font-size: $base-font-size * 9; 		// h1 font size
$h2-font-size: $base-font-size * 6; 		// h2 font size
$h3-font-size: $base-font-size * 3; 		// h3 font size
$h4-font-size: $base-font-size * 2.25; 	// h4 font size
$h5-font-size: $base-font-size * 1.5; 	// h5 font size
$h6-font-size: $base-font-size * 1.125; // h6 font size
$h-line-height: 1.25; // headline line height
$h-margin: 0 0 15px; 	// headline margin bottom
$h-padding: 20px 0 0; // headline padding bottom


// Colors
$brand-primary: #1A3142;
$brand-yellow: #F3C465;
$brand-red: #CD4D47;
$brand-grey: #A3B9AD;

$brown-dark: #44321D;
$brown-light: #D3C197;
$brown-extra-light: #f6f2ea;

$grey100: #000000;
$grey60: #5D5D5D;
$grey40: #8B8B8B;
$grey10: #EBEBEB;
$grey5: #F6F6F6;
$white: #FFFFFF;












