@import "../variables";

.tp-bowling-price-rental {
	color: $brand-primary;
	margin-top: 200px;

	@media (max-width: 991px) {
		margin-top: 30px;
	}

	&__img {
		position: relative;

		figure.vc_figure {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			overflow: hidden;

			@media (max-width: 991px) {
				width: auto;
				position: static;
				transform: translateY(0);
			}
		}
	}

	&__text {
		position: relative;

		> .wpb_wrapper {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: $brand-yellow;
			box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			width: 700px;
			padding: 30px 50px;

			@media (max-width: 991px) {
				width: auto;
				position: static;
				transform: translateY(0);
			}

			@media (max-width: 767px) {
				padding: 20px;
			}

			> [class*='row'] {
				@media (min-width: 768px) {
					padding-left: 50px;
				}
			}
		}

		h3 {
			text-transform: uppercase;
			
			@media (max-width: 767px) {
				font-size: rem(32);
			}
		}
	}
}