@import "../variables";

.tp-zeppelin-img {

	&__text {
		position: relative;
		z-index: 3;

		@media (max-width: 991px) {
			padding-top: 500px;
		}

		@media (max-width: 767px) {
			padding-top: 380px;
		}

		@media (max-width: 479px) {
			padding-top: 320px;
		}

		.wpb_wrapper {
			position: absolute;
			top: calc(50% + 50px);
			left: 0;
			transform: translateY(-50%);
			min-width: 766px;
			background: $brand-yellow;
			box-shadow: 0 2px 30px rgba(0, 0, 0, 0.252295);
			border-radius: 10px;
			padding: 40px 70px;

			@media (max-width: 1199px) {
				min-width: 620px;
				padding: 30px 40px;
			}

			@media (max-width: 992px) {
				min-width: 1px;
				position: static;
				top: 0;
				transform: translateY(0);
			}

			@media (max-width: 767px) {
				padding: 20px;
			}

			h3 {
				text-transform: uppercase;
				margin-bottom: 20px;

				@media (max-width: 767px) {
					font-size: rem(34);
				}
			}

			p {
				color: $brand-primary;
				font-size: rem(26);
				line-height: 1.2;
				text-align: justify;
				letter-spacing: 1px;
				
				@media (max-width: 1199px) {
					font-size: rem(20);
				}

				@media (max-width: 767px) {
					font-size: rem(18);
				}
			}
		}
	}

	&__img {
		position: relative;

		@media (max-width: 991px) {
			figure {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 290px;

				@media (max-width: 575px) {
					bottom: 320px;
				}

				@media (max-width: 479px) {
					bottom: 330px;
				}

				@media (max-width: 319px) {
					bottom: 580px;
				}

				img {
					//max-width: 300px;
				}
			}
		}
	}
}