@import "../variables";

.zeppelin_menu {
	margin-right: 11px;
	margin-left: 11px;

	> .col,
	> [class*="col-"] {
		padding-right: 11px;
		padding-left: 11px;
	}

	[class*='col-'] {

		> .title {
			font-size: rem(46);
			line-height: 1;
			text-align: center;
			letter-spacing: 1px;
			color: $brown-light;
			padding: 26px 0;
			margin-top: 22px;
			background-color: $brown-dark;
			cursor: pointer;
		}

		> .content {
			background: rgba(242, 222, 175, 0.2);
			box-shadow: 0 2px 30px rgba(68, 50, 29, 0.2);
			padding: 45px 30px 10px;
		}
	}

	&_item {
		font-size: rem(18);
		line-height: 1.3;
		color: $brown-dark;
		margin-bottom: 25px;

		.name,
		.price {
			font-weight: 700;
		}

		.name {
			overflow: hidden;

			span {
				display: inline-block;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: calc(100% + 7px);
					bottom: 4px;
					width: 500px;
					height: 1px;
					border-bottom: 1px dotted $brown-dark;
				}
			}
		}
	}

}