@import "../variables";

.site-footer {
	background: linear-gradient(180deg, #000000 36.24%, rgba(0, 0, 0, 0.0001) 63.76%, rgba(216, 216, 216, 0.0001) 63.76%), url(../img/footer-bg.jpg) no-repeat center center;
	background-size: cover;
	height: 944px;

	@media (max-width: 767px) {
		height: 800px;
	}

	@media (max-width: 575px) {
		height: 600px;
	}

	&__logo {
		@media (max-width: 767px) {
			display: block;
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__menu {
		margin: 0;
		list-style: none;
		text-transform: uppercase;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: $brown-light;
		padding: 54px 0;

		@media (max-width: 767px) {
			flex-direction: column;
			padding: 24px 0 20px;
		}
	}

	&__bottom {
		background-color: $grey100;
		opacity: 0.8;
		position: relative;
	}

	&__hr {
		width: 100%;
		height: 1px;
		background-color: $brown-light;
		margin: 0;
		border: 0;
	}

	&__description {
		padding: 26px 0;
		text-transform: uppercase;
		text-align: center;

		@media (max-width: 767px) {
			padding: 18px 0;
		}
	}
}