@import "../variables";

.site-header {

	&__top {
		min-height: 60px;

	}

	&__social {
		height: 20px;
		width: 20px;
		border-radius: 6px;
		background: $brown-light center center;
		background-size: contain;
		margin: 0 6px;
		display: inline-block;

		&_fb {
			background-image: url(../img/facebook-icon.png);
		}

		&_tw {
			background-image: url(../img/twitter.png);
		}
	}

	&__middle {
		background: linear-gradient(90deg, #000000 29.57%, rgba(0, 0, 0, 0.0001) 57.42%, rgba(216, 216, 216, 0.0001) 57.42%), url(../img/header-bg.jpg) no-repeat center center;
		background-size: cover;
		height: 485px;

		@media (max-width: 991px) {
			height: 340px;
		}

		@media (max-width: 767px) {
			height: 300px;
		}
	}

		&__logo {
			text-align: center;

			@media (max-width: 991px) {
				display: inline-block;
				max-width: 70%;
			}

			img {
				max-height: 100%;
			}
		}

	&__menu {

		&-list {
			margin: 0;
			list-style: none;
			text-transform: uppercase;
			display: flex;
			justify-content: space-between;
			align-items: center;

			> li {

				a {
					line-height: 70px;
					font-size: rem(24);
					color: $brown-light;
					letter-spacing: 1px;
					padding: 0 50px;
				}

				&:first-child {
					a {
						padding-left: 0;
					}
				}

				&:last-child {
					a {
						padding-right: 0;
					}
				}
			}
		}

	}

	// mobile menu
	.open-mobile-menu {
		width: 16px;
		flex: 0 0 16px;
		height: 16px;
		position: relative;
		padding: 0;
		background-color: transparent;

		@media (min-width: 992px) {
			display: none;
		}

		span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			background-color: $brown-light;
			width: 100%;
			height: 2px;
			border-radius: 2px;

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: inherit;
				background-color: inherit;
				border-radius: inherit;
				transition: all .3s;
			}

			&:before {
				top: 5px;
			}

			&:after {
				bottom: 5px;
			}
		}

		&:hover,
		&:focus {
			outline: none;
		}
	}

	.close-mobile-menu {
		width: 14px;
		height: 14px;
		position: relative;
		padding: 0;
		background-color: transparent;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: center center;
			background-color: $brown-light;
			width: calc(100% + 5px);
			height: 2px;
			border-radius: 2px;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&:focus {
			outline: none;
		}
	}

	&__mobile-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-100%);
		transition: transform .3s;
		background-color: #000000;
		width: 100%;
		max-width: 280px;
		padding: 20px 15px;
		z-index: 99;

		.admin-bar & {
			top: 32px;
		}

		&_active {
			transform: translateX(0);
		}

		&-list {
			margin: 25px 0 0;
			padding-bottom: 20px;
			list-style: none;
			text-transform: uppercase;
			border-bottom: 1px solid $brown-light;

			> li {

				a {
					line-height: 44px;
					font-size: rem(18);
					color: $brown-light;
					letter-spacing: 1px;
				}
			}
		}

		&-socials {
			margin-left: -6px;
			margin-right: -6px;
		}
	}

}