<header class="site-header">
  <div class="site-header__top d-flex align-items-center text-uppercase bg-grey100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg">
          <div class="d-flex justify-content-between align-items-center">
            <button class="open-mobile-menu">
              <span></span>
            </button>

            <div class="f-family-geared-slab text-right text-lg-left pl-lg-0 pl-40">
              <div class="color-brown-light f-size-xl-24 f-size-lg-20 f-size-16">Hangar 38 | 6668 Thomasville Rd. | Tallahassee FL</div>
            </div>
          </div>
        </div>
        <div class="col-auto d-lg-block d-none">
          <div class="d-flex">
            <div class="color-brown-light f-size-xl-24 f-size-lg-20 mr-lg-50">Don’t miss any updates</div>
            <div class="d-flex justify-content-between align-items-center">
              <a class="site-header__social site-header__social_fb" href="#"></a>
              <a class="site-header__social site-header__social_tw" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-header__middle d-flex align-items-center">
    <div class="container text-lg-left text-center">
      <a class="site-header__logo" href="#">
        <img src="img/hangar-logo.svg" alt="">
      </a>
    </div>
  </div>

  <div class="d-lg-flex d-none align-items-center bg-grey100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <nav class="site-header__menu">
            <ul class="site-header__menu-list">
              <li><a href="#">Bowling</a></li>
              <li><a href="#">Gaming</a></li>
              <li><a href="#">zeppelin’s</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile menu -->
  <div class="site-header__mobile-menu">
    <button class="close-mobile-menu"></button>

    <ul class="site-header__mobile-menu-list">
      <li><a href="#">Bowling</a></li>
      <li><a href="#">Gaming</a></li>
      <li><a href="#">zeppelin’s</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

    <div class="color-brown-light f-size-18 text-uppercase mt-15 mb-5">Don’t miss any updates</div>

    <div class="site-header__mobile-menu-socials">
      <a class="site-header__social site-header__social_fb" href="#"></a>
      <a class="site-header__social site-header__social_tw" href="#"></a>
    </div>
  </div>
</header>